@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*  1440 1024 834 768 480 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
}
header{
    padding: 20px 5%;
    width:100%;
    min-height:100vh;
    background-image: url('images/hero-bg.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    background-color: #11065C;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}

.right-side ul{
    display: flex;
    align-items: center;
    gap:40px;
    text-transform: uppercase;
    color:white;
}
.right-side ul li a {
    color: white;
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

.login i{
    font-size: 14px;
}

.home{
    color:#00bbf0 !important;
}

.hov-nav{
    transition: color 0.3s ease-in-out;
}

.hov-nav:hover{
    color:#00bbf0;
}
.menu-icon{
    display: none !important ;
    font-size: 2rem;
}

@media (max-width:1024px){
    .dis{
        display: none;
    }
    .menu-icon{
        display: flex !important;
    }
    header{
        width:100%;
        background:linear-gradient(to right,#11065Cff,#0B0252ff, #1D126Eff,#05004Aff,#000001ff);
        background-size: cover;
        background-position: center center;
    }
}
.sidebar ul li a{
    color:black;
    font-size: 1.3rem;
    font-weight: 600;
}

.sidebar {
    padding:20px 2%;
    display: none;
    flex-direction: column;
    /* align-items: flex-end; */
    gap:20px;
    position: absolute;
    right: 0px;
    top:0;
    height:100vh;
    /* text-align: center; */
    width: 40%;
    background: linear-gradient(rgba(255, 255, 255, 0.474),white);
}
.closeIcon{
    color:black;
    font-size: 1.5rem;
}
/* hero */
.container{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
}
.hero-content{
    display: flex;
    align-items: center;
    gap:50px;
    color:white;
    max-width: 1200px;
    width:100%;
}
.left-hero{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.left-hero h2{
    font-size:3rem;
    text-transform: uppercase;
    line-height: 4rem;
}

.left-hero p{
    font-size: 15px;
}

.read-more-btn{
    color:white;
    background-color: #00bbf0;
    width: 200px;
    text-align: center;
    padding:15px 15px;
    transition: background-color 0.3s ease-in-out;
}

.read-more-btn:hover{
    background-color:#00bcf08c ;
}

.right-hero img{
    animation: up-down 3s infinite ease-in alternate-reverse;
}

@keyframes up-down{
    0%{
        transform: none;
    }
    100%{
        transform: translateY(50px);
    }
}


@media (max-width:1024px){
    .hero-content{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media(max-width:768px){
    .left-hero{
        gap:10px;
    }
    .left-hero h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    .left-hero p{
        font-size: 12px;
    }
}

@media(max-width:480px){
    .right-hero img{
        width: 400px;
        height: 300px;
    }
}
@media(max-width:440px){
    .right-hero img{
        width: 350px;
        height: 250px;
    }
}
@media(max-width:395px){
    .right-hero img{
        width: 300px;
        height: 200px;
    }
}
@media(max-width:340px){
    .right-hero img{
        width: 250px;
        height: 150px;
    }
}
@media(max-width:320px){
    .right-hero img{
        width: 220px;
        height: 120px;
    }
}
@media(max-width:240px){
    .right-hero img{
        width: 200px;
        height: 100px;
    }
}
@media(max-width:220px){
    .right-hero img{
        width: 180px;
        height: 80px;
    }
}

/* service */
.service-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}
.service-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-head h2{
    font-size: 2rem;
}
.service-head p{
    text-align: center;
}
.services{
    display: flex;
    align-items: center;
    gap:20px;
}

.diff-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color: #f8f8f9;
    padding:15px 25px;
    text-align: center;
}
.diff-service h3{
    text-transform: uppercase;
}
.view-btn:hover{
    background-color:#0a6983 ;
}

@media(max-width:1024px){
    .services{
        flex-direction: column;
    }
}

/* #00204a */

/* about section */
.about-section{
    background-color: #00204a;
    color:white;
    min-height: 100vh;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    padding: 20px;
}
.about-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    text-align: center;
}
.about-head h2{
    font-size: 2rem;
}
.about-us{
    display: flex;
}
.about-text{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.about-text h3{
    font-size: 1.5rem;
}
.about-read{
    color:white;
    background-color: #00bbf0;
    width: 200px;
    text-align: center;
    padding:15px 15px;
    transition: background-color 0.3s ease-in-out;
}
.about-read:hover{
    background-color:#00bcf08c ;
}

@media(max-width:1024px){
    .about-us{
        flex-direction: column;
        align-items: center;
    }
    .about-text{
        align-items: center;
        text-align: center;
    }
}

@media(max-width:480px){
    .about-text{
        font-size:14px;
    }
    .about-us img{
        width: 400px;
        height: 300px;
    }
}

@media(max-width:435px){
    .about-us img{
        width: 300px;
        height: 200px;
    }
}

/* why-us-section */
.why-us-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:70px;
}
.why-us-content > h2{
    font-size: 2rem;
    font-weight: 600;
}
.why-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.why-us-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.why-us-text > h3{
    font-size: 1.3rem;
    font-weight: 600;
}
.why-us > span{
    border: 4px solid #00204a;
    padding:25px 30px;
    border-radius:50% ;
}

@media(max-width:1000px){
    .why-us-content{
        text-align: center;
    }
}

/* team-section */
.team-section{
    margin-top: 100px;
    background-color: #00204a;
    /* padding-block: 30px; */
}
.team-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    padding-block: 100px;
}

.team-container{
    display: flex;
    gap:30px;
}
.our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
    color:white;
    background: -webkit-gradient(linear, left top, left bottom, from(#002759), to(#002b64));
    padding:50px 60px;
}

.team-img img{
    border: 5px solid white;
    border-radius: 50%;
}
.team-social-links ul{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap:15px;
}
.team-social-links ul li a i{
    color:white;
    transition: color 0.2s ease-in-out;
}

.team-content > h2{
    font-size: 2rem;
}

.about-team .name{
    font-size:1.2rem;
    color: #00bbf0;
    font-weight: 600;
}

.about-team .job-desc{
    font-size: 14px;
}

.team-social-links ul li a i:hover{
    color:#00bbf0;
}

@media (max-width:1024px){
    .team-container{
        flex-direction: column;
    }
}

/* review sec */

.review-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:100px;
}
.review-content > h2{
    font-size: 2rem;
}
.cust-img img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top:-50px;
    left:40px;
}
.c-1{
    position: absolute;
    top:-50px;
    left:40px;
}
.customer-reviews{
    display: flex;
    gap:20px;
    /* position: relative; */
}
.client-id{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}
.rev-txt{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:70px 40px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    /* position: absolute; */
}

.cust{
    display: flex;
    flex-direction: column;
    position: relative;
}

.c-name{
    font-weight: 600;
}
.location{
    font-size: 14px;
    /* font-weight: 500; */
    color: #0c0c0c;
}

@media (max-width:1024px){
    .customer-reviews{
        flex-direction: column;
        gap:100px;
        margin-inline: 50px;
    }
    .review-content> h2{
        text-align: center;
        margin-inline: 50px;
    }
}

/* footer */
footer{
    background-color: #00204a;
    color:white;
    margin-top: 50px;
    padding:100px;
    text-align: center;
}